.Header {
    display: block;
    max-width: var(--Header-max-width);
    padding: 0 var(--Header-padding);
}

.Header:after {
    content: '';
    display: block;
    height: 1px;
    background: var(--Header-background-color);
    width: 100%;
}
